{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="image1">
    <div class="filtrer">
    <h1>Filtrer les sorties</h1>
    <div>
        Site :
    </div>
    </div>
    </section>
{% endblock %}
