{% extends 'base.html.twig' %}

<link rel="stylesheet" href="{{ asset('CSS/monProfil.css') }}" >

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1 class="monProfil">Mon Profil</h1>

    {{ form_start(formMonProfil) }}
    {{ form_widget(formMonProfil) }}

    <button type="submit" class="btn">Enregistrer</button>
    <button type="reset" class="btn">Annuler</button>
    {{ form_end(formMonProfil) }}
{% endblock %}