<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            TODO :
            {% include 'inc/header.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
